label {
  font-weight: bold;
  display: inline-block;
}
.red {
  background-color: red;
}
.content-area {
  padding: 1em 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: 50em;
}
.crm-menu {
  padding-top: 1em;
}
.crm-menu__title {
  padding-left: 0.3em;
  padding-top: 0.3em;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
}
.flex--client-button-settings {
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
}
.client-extra-info__part {
  margin-bottom: 1em;
  margin-top: 1em;
}
.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}
.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}
.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}
.selectdemoSelectHeader md-content._md {
  max-height: 240px;
}
.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
  padding-top: 1em;
  margin-bottom: 1em;
  flex-basis: 50%;
}
.actions--calendar {
  flex-basis: 100%;
}
.functionality {
  width: 100%;
}
.filters {
  flex-basis: 50%;
  flex-wrap: wrap;
}
.filters--calendar {
  padding: 1em 1em;
}
.page-content {
  padding-left: 2em;
  padding-right: 2em;
}
.flex {
  display: flex;
  align-content: flex-start;
}
.calendar-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calendar-todo {
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-end;
  flex-basis: 35%;
}
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 2em;
  text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: #555555;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: #2c567a;
}
#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: #e78c5c;
}
#calendar2 tbody td.today {
  background: #dc0000;
  color: #fff;
}
.todo-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
