label {
  font-weight: bold;
  display: inline-block;
}
.red {
  background-color: red;
}
.content-area {
  padding: 1em 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: 50em;
}
