.clients {
}

.clients__button {

}

.clients__button--add {

}

.client {

}
.client__button {

}
.client__button--settings {

}

.flex--client-button-settings {
  width: 100%;
  //навправление главной оси
  flex-flow: row wrap;

  //выравнивание по главной оси
  justify-content: flex-end;

  //выравнивание по поперечной
  align-items: flex-start;

  //распределение блоков
  align-content: flex-end;
}